<?xml version="1.0"?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
	<arg name="robot" default="mico_arm"/>
  <arg name="pose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="world" default="empty.world" />

	<env name="GAZEBO_MODEL_PATH" value="$(find mico_gazebo):$(optenv GAZEBO_MODEL_PATH)"/>

	<!-- start up world -->
  <include file="$(find mico_gazebo)/launch/mico_sim_world.launch">
  	<arg name="use_sim_time" value="$(arg use_sim_time)" />
  	<arg name="gui" value="$(arg gui)" />
  	<arg name="world" value="$(arg world)" />
  	<arg name="paused" value="$(arg paused)" />
  </include>

  <!-- spawn the robot in simulation -->
  <include file="$(find mico_gazebo)/launch/mico_spawn.launch">
  	<arg name="pose" value="$(arg pose)"/>
  	<arg name="robot" value="$(arg robot)"/>
  </include>
  <!-- bringup robot and controllers -->
  <include file="$(find mico_gazebo)/launch/mico_control.launch">
  </include>
</launch>
