<launch>

  <arg name="kinova_robotType" default="j2n6s300"/>

  <!-- Load RQT with a pre-setup GUI for Kinova controls from a perspective file  -->
  <node name="kinova_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find kinova_control)/launch/$(arg kinova_robotType).perspective"/>
  
</launch>
