<launch>

  <arg name="use_urdf" default="false"/>

  <node name="kinova_arm_driver" pkg="kinova_driver" type="kinova_arm_driver" output="screen" cwd="node">
    <!-- Set this parameter to use a specific arm on your system    --> 
    <!-- <param name="serial_number" value="PJ00000001030703130" /> -->
    <param name="tf_prefix" value="kinova_"/>
    <param name="finger_angle_conv_ratio" value="0.012"/>
  </node>
    
  <group unless="$(arg use_urdf)">
    <node name="kinova_tf_updater" pkg="kinova_driver" type="kinova_tf_updater" output="screen" cwd="node">
      <param name="tf_prefix" value="kinova_" />
      <remap from="/kinova_tf_updater/in/joint_angles" to="/kinova_arm_driver/out/joint_angles"/>
    </node>
  </group>

  <group if="$(arg use_urdf)">
    <include file="$(find kinova_description)/launch/upload_kinova.launch"/>
    <node name="kinova_state_publisher"
           pkg="robot_state_publisher"
          type="robot_state_publisher">
      <remap from="joint_states" to="/kinova_arm_driver/out/joint_state"/>
    </node>
  </group>

</launch>
