<launch>

  <!--
    NOTE: The JACO r2 arm is not supported by the old forward kinematics
    node, so use_urdf mode is necessary.
  -->

  <node name="jaco2_arm_driver" pkg="kinova_driver" type="jaco_arm_driver" output="screen" cwd="node">
    <!-- Set this parameter to use a specific arm on your system    --> 
    <!-- <param name="serial_number" value="PJ00000001030703130" /> -->
    <param name="tf_prefix" value="jaco2_"/>
    <param name="finger_angle_conv_ratio" value="0.012"/>
  </node>
    
  <include file="$(find kinova_description)/launch/upload_jaco2.launch"/>
  <node name="jaco2_state_publisher"
         pkg="robot_state_publisher"
        type="robot_state_publisher">
      <remap from="joint_states" to="/jaco2_arm_driver/out/joint_state"/>
  </node>

</launch>
