<launch>
    <node   name="jaco_arm"
             pkg="kinova_ros_ctrl"
            type="kinova_node"
          output="screen"
    >
        <rosparam>
            period: 0.01    # 100 Hz
        </rosparam>
    </node>

    <include file="$(find jaco_model)/launch/upload_jaco.launch"/>

    <rosparam>
        # Individual controllers (unnecessary for trajectory control):
        joint_state_controller:
            type:         joint_state_controller/JointStateController
            publish_rate: 50
        j1_pos_controller:
            type:         position_controllers/JointPositionController
            joint:        jaco_joint_1
        j2_pos_controller:
            type:         position_controllers/JointPositionController
            joint:        jaco_joint_2
        j3_pos_controller:
            type:         position_controllers/JointPositionController
            joint:        jaco_joint_3
        j4_pos_controller:
            type:         position_controllers/JointPositionController
            joint:        jaco_joint_4
        j5_pos_controller:
            type:         position_controllers/JointPositionController
            joint:        jaco_joint_5
        j6_pos_controller:
            type:         position_controllers/JointPositionController
            joint:        jaco_joint_6

        # Joint Trajectory Controller:
        jaco_controller:
            type: position_controllers/JointTrajectoryController
            joints:
                - jaco_joint_1
                - jaco_joint_2
                - jaco_joint_3
                - jaco_joint_4
                - jaco_joint_5
                - jaco_joint_6
    </rosparam>
    
    <!-- NOTE: The spawner hangs when the full launch file is killed, but the
               controller manager is stopped correctly. -->
    <node   name="controller_spawner"
             pkg="controller_manager"
            type="spawner"
          output="screen"
            args="joint_state_controller jaco_controller"
    />

    <node name="robot_state_publisher"
           pkg="robot_state_publisher"
          type="robot_state_publisher"
    />

</launch>

