<?xml version="1.0"?>
<!-- j2_7s refers to jaco v2 7DOF spherical -->


<root xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="j2_7s_config" params="prefix">

    <property name="link_base" value="${prefix}_link_base" />
    <property name="link_1" value="${prefix}_link_1" />
    <property name="link_2" value="${prefix}_link_2" />
    <property name="link_3" value="${prefix}_link_3" />
    <property name="link_4" value="${prefix}_link_4" />
    <property name="link_5" value="${prefix}_link_5" />
    <property name="link_6" value="${prefix}_link_6" />
    <property name="link_7" value="${prefix}_link_7" />  
    <property name="link_end_effector" value="${prefix}_end_effector" />


    <property name="joint_base" value="${prefix}_joint_base" />
    <property name="joint_base_axis_xyz" value="0 0 0" />
    <property name="joint_base_origin_xyz" value="0 0 0" />
    <property name="joint_base_origin_rpy" value="0 0 0" />

    <property name="joint_1" value="${prefix}_joint_1" />
    <property name="joint_1_axis_xyz" value="0 0 1" />
    <property name="joint_1_origin_xyz" value="0 0 0.15675" />
    <property name="joint_1_origin_rpy" value="0 0 0" />
    <property name="joint_1_lower_limit" value="${-2*J_PI}" />
    <property name="joint_1_upper_limit" value="${2*J_PI}" />

    <property name="joint_2" value="${prefix}_joint_2" />
    <property name="joint_2_axis_xyz" value="0 0 1" />
    <property name="joint_2_origin_xyz" value="0 0.0016 -0.11875" />
    <property name="joint_2_origin_rpy" value="${-J_PI/2} 0 ${J_PI}" />
    <property name="joint_2_lower_limit" value="${-J_PI}" />
    <property name="joint_2_upper_limit" value="${0}" />

    <property name="joint_3" value="${prefix}_joint_3" />
    <property name="joint_3_axis_xyz" value="0 0 1" />
    <property name="joint_3_origin_xyz" value="0 -0.205 0" />
    <property name="joint_3_origin_rpy" value="${J_PI} 0 ${J_PI}" />
    <property name="joint_3_lower_limit" value="${-5*J_PI/4}" />
    <property name="joint_3_upper_limit" value="${1*J_PI/4}" />

    <property name="joint_4" value="${prefix}_joint_4" />
    <property name="joint_4_axis_xyz" value="0 0 1" />
    <property name="joint_4_origin_xyz" value="0 0 -0.205" />
    <property name="joint_4_origin_rpy" value="${J_PI/2} ${J_PI/2} 0" />
    <property name="joint_4_lower_limit" value="${-2*J_PI}" />
    <property name="joint_4_upper_limit" value="${2*J_PI}" />

    <property name="joint_5" value="${prefix}_joint_5" />
    <property name="joint_5_axis_xyz" value="0 0 1" />
    <property name="joint_5_origin_xyz" value="0 0.2073 -0.0114" />
    <property name="joint_5_origin_rpy" value="${-J_PI/3} 0 0" />
    <property name="joint_5_lower_limit" value="${-2*J_PI}" />
    <property name="joint_5_upper_limit" value="${2*J_PI}" />

    <property name="joint_6" value="${prefix}_joint_6" />
    <property name="joint_6_axis_xyz" value="0 0 1" />
    <property name="joint_6_origin_xyz" value="0 -0.03703 -0.06414" />
    <property name="joint_6_origin_rpy" value="${-J_PI/3} 0 0" />
    <property name="joint_6_lower_limit" value="${-2*J_PI}" />
    <property name="joint_6_upper_limit" value="${2*J_PI}" />

    <property name="joint_7" value="${prefix}_joint_7" />
    <property name="joint_7_axis_xyz" value="0 0 1" />
    <property name="joint_7_origin_xyz" value="0 -0.03703 -0.06414" />
    <property name="joint_7_origin_rpy" value="${-J_PI/3} 0 0" />
    <property name="joint_7_lower_limit" value="${-2*J_PI}" />
    <property name="joint_7_upper_limit" value="${2*J_PI}" />

    <property name="joint_end_effector" value="${prefix}_end_effector_offset" />
    <property name="joint_end_effector_axis_xyz" value="0 0 0" />
    <property name="joint_end_effector_origin_xyz" value="0 0 -0.1600" />
    <property name="joint_end_effector_origin_rpy" value="0 0 0" />

  </xacro:macro>

</root>
