<?xml version="1.0"?>


<root xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find kinova_description)/urdf/kinova_6DOF.xacro" />
  <xacro:include filename="$(find kinova_description)/urdf/kinova_3fingers.xacro"/>

  <property name="link_base" value="jaco2_link_base" />
  <property name="link_1" value="jaco2_link_1" />
  <property name="link_2" value="jaco2_link_2" />
  <property name="link_3" value="jaco2_link_3" />
  <property name="link_4" value="jaco2_link_4" />
  <property name="link_5" value="jaco2_link_5" />
  <property name="link_6" value="jaco2_link_6" />
  <property name="link_finger_1" value="jaco2_link_finger_1" />
  <property name="link_finger_2" value="jaco2_link_finger_2" />
  <property name="link_finger_3" value="jaco2_link_finger_3" />
  <property name="link_finger_tip_1" value="jaco2_link_finger_tip_1" />
  <property name="link_finger_tip_2" value="jaco2_link_finger_tip_2" />
  <property name="link_finger_tip_3" value="jaco2_link_finger_tip_3" />

  <property name="api_offset" value="0.028" />
  <property name="api_origin" value="jaco2_api_origin" />

  <property name="joint_base" value="jaco2_joint_base" />
  <property name="joint_base_axis_xyz" value="0 0 0" />
  <property name="joint_base_origin_xyz" value="0 0 0" />
  <property name="joint_base_origin_rpy" value="0 0 0" />

  <property name="joint_1" value="jaco2_joint_1" />
  <property name="joint_1_axis_xyz" value="0 0 1" />
  <property name="joint_1_origin_xyz" value="0 0 0.1535" />
  <property name="joint_1_origin_rpy" value="0 0 0" />
  <property name="joint_1_lower_limit" value="${-2*J_PI}" />
  <property name="joint_1_upper_limit" value="${2*J_PI}" />

  <property name="joint_2" value="jaco2_joint_2" />
  <property name="joint_2_axis_xyz" value="0 0 1" />
  <property name="joint_2_origin_xyz" value="0 0 0.1185" />
  <property name="joint_2_origin_rpy" value="${-J_PI/2} 0 ${J_PI}" />
  <property name="joint_2_lower_limit" value="${-J_PI}" />
  <property name="joint_2_upper_limit" value="${0}" />

  <property name="joint_3" value="jaco2_joint_3" />
  <property name="joint_3_axis_xyz" value="0 0 1" />
  <property name="joint_3_origin_xyz" value="0 0.41 0" />
  <property name="joint_3_origin_rpy" value="${J_PI} 0 ${J_PI}" />
  <property name="joint_3_lower_limit" value="${-5*J_PI/4}" />
  <property name="joint_3_upper_limit" value="${1*J_PI/4}" />

  <property name="joint_4" value="jaco2_joint_4" />
  <property name="joint_4_axis_xyz" value="0 0 1" />
  <property name="joint_4_origin_xyz" value="0 -0.207 0.01125" />
  <property name="joint_4_origin_rpy" value="${J_PI/2} ${J_PI/2} 0" />
  <property name="joint_4_lower_limit" value="${-2*J_PI}" />
  <property name="joint_4_upper_limit" value="${2*J_PI}" />

  <property name="joint_5" value="jaco2_joint_5" />
  <property name="joint_5_axis_xyz" value="0 0 1" />
  <property name="joint_5_origin_xyz" value="0 0.03700 0.06408" />
  <property name="joint_5_origin_rpy" value="${-J_PI/3} 0 0" />
  <property name="joint_5_lower_limit" value="${-2*J_PI}" />
  <property name="joint_5_upper_limit" value="${2*J_PI}" />

  <property name="joint_6" value="jaco2_joint_6" />
  <property name="joint_6_axis_xyz" value="0 0 1" />
  <property name="joint_6_origin_xyz" value="0 0.03700 0.06408" />
  <property name="joint_6_origin_rpy" value="${-J_PI/3} 0 0" />
  <property name="joint_6_lower_limit" value="${-2*J_PI}" />
  <property name="joint_6_upper_limit" value="${2*J_PI}" />

  <property name="joint_finger_1" value="jaco2_joint_finger_1" />
  <property name="joint_finger_1_axis_xyz" value="0 0 1" />
  <property name="joint_finger_1_origin_xyz" value="0 -0.03978 0.10071" />
  <property name="joint_finger_1_origin_rpy" value="1.117 0 0" />
  <property name="joint_finger_1_lower_limit" value="0" />
  <property name="joint_finger_1_upper_limit" value="${J_PI/180*40}" />

  <property name="joint_finger_tip_1" value="jaco2_joint_finger_tip_1" />
  <property name="joint_finger_tip_1_axis_xyz" value="0 0 1" />
  <property name="joint_finger_tip_1_origin_xyz" value="0.035 -0.02595 -0.0025" />
  <property name="joint_finger_tip_1_origin_rpy" value="0 0 0" />
  <property name="joint_finger_tip_1_lower_limit" value="0" />
  <property name="joint_finger_tip_1_upper_limit" value="${J_PI/180*40}" />
  <property name="joint_finger_tip_1_mimic_joint" value="${J_PI/180*40}" />
  <property name="joint_finger_tip_1_mimic_multiplier" value="0.0" />
  <property name="joint_finger_tip_1_mimc_offset" value="0.0" />


  <property name="joint_finger_2" value="jaco2_joint_finger_2" />
  <property name="joint_finger_2_axis_xyz" value="0 0 1" />
  <property name="joint_finger_2_origin_xyz" value="0.03569 -0.0216 -0.10071" />
  <property name="joint_finger_2_origin_rpy" value="-1.6222 1.117 -0.23615" />
  <property name="joint_finger_2_lower_limit" value="0" />
  <property name="joint_finger_2_upper_limit" value="${J_PI/180*40}" />

  <property name="joint_finger_tip_2" value="jaco2_joint_finger_tip_2" />
  <property name="joint_finger_tip_2_axis_xyz" value="0 0 1" />
  <property name="joint_finger_tip_2_origin_xyz" value="0.035 -0.02595 -0.0025" />
  <property name="joint_finger_tip_2_origin_rpy" value="0 0 0" />
  <property name="joint_finger_tip_2_lower_limit" value="0" />
  <property name="joint_finger_tip_2_upper_limit" value="${J_PI/180*40}" />
  <property name="joint_finger_tip_2_mimic_joint" value="${J_PI/180*40}" />
  <property name="joint_finger_tip_2_mimic_multiplier" value="0.0" />
  <property name="joint_finger_tip_2_mimc_offset" value="0.0" />


  <property name="joint_finger_3" value="jaco2_joint_finger_3" />
  <property name="joint_finger_3_axis_xyz" value="0 0 1" />
  <property name="joint_finger_3_origin_xyz" value="0.03569 0.0216 -0.10071" />
  <property name="joint_finger_3_origin_rpy" value="-1.5161 1.1459 0.23978" />
  <property name="joint_finger_3_lower_limit" value="0" />
  <property name="joint_finger_3_upper_limit" value="${J_PI/180*40}" />

  <property name="joint_finger_tip_3" value="jaco3_joint_finger_tip_3" />
  <property name="joint_finger_tip_3_axis_xyz" value="0 0 1" />
  <property name="joint_finger_tip_3_origin_xyz" value="0.035 -0.02595 -0.0025" />
  <property name="joint_finger_tip_3_origin_rpy" value="0 0 0" />
  <property name="joint_finger_tip_3_lower_limit" value="0" />
  <property name="joint_finger_tip_3_upper_limit" value="${J_PI/180*40}" />
  <property name="joint_finger_tip_3_mimic_joint" value="${J_PI/180*40}" />
  <property name="joint_finger_tip_3_mimic_multiplier" value="0.0" />
  <property name="joint_finger_tip_3_mimc_offset" value="0.0" />

  <property name="link_end_effector"   value="jaco2_end_effector" />
  <property name="end_effector_offset" value="0.1687" />

  <xacro:macro name="jaco2_arm" params="parent">

    <xacro:kinova_6DOF base_parent="${parent}"/>

    <link name="${link_end_effector}" />
    <joint name="${link_6}_to_end_effector" type="fixed">
      <parent link="${link_6}"/>
      <child link="${link_end_effector}"/>
      <origin xyz="0 0 -${end_effector_offset}" rpy="0 ${J_PI} 0" />
    </joint>

    <xacro:kinova_3fingers link_hand="${link_6}"/>

  </xacro:macro>

</root>
