<?xml version="1.0"?>


<root xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="kinova_inertial" params="mesh_no">
  <!-- base = 0 -->
  <xacro:unless value="${mesh_no}">
    <inertial>
        <mass value="0.752103" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia  ixx="0.009025"  ixy="-0.000002"  ixz="-0.000005" 
                  iyx="-0.000002"  iyy="0.009007"  iyz="0.000000" 
                  izx="-0.000005"  izy="0.000000"  izz="0.000704" />
    </inertial> 
  </xacro:unless>      

  <!-- shoulder = 1 -->
  <xacro:unless value="${mesh_no-1}">
    <inertial>
        <mass value="0.839784" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.005735"  ixy="0.000000"  ixz="0.000000" 
                  iyx="0.000000"  iyy="0.005801"  iyz="0.000496" 
                  izx="0.000000"  izy="0.000496"  izz="0.000570" />
    </inertial>   
  </xacro:unless>      

  <!-- arm = 2-->
  <xacro:unless value="${mesh_no-2}">
    <inertial>
        <mass value="0.968862" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.000789"  ixy="0.000008"  ixz="-0.002914" 
                          iyx="0.000008"  iyy="0.069034"  iyz="-0.000001" 
                          izx="-0.002914"  izy="-0.000001"  izz="0.069005" />
    </inertial>  
  </xacro:unless>   

  <!-- forearm = 3 -->
  <xacro:unless value="${mesh_no-3}">
    <inertial>
        <mass value="0.709960" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.000341"  ixy="0.000003"  ixz="-0.000034" 
                          iyx="0.000003"  iyy="0.008491"  iyz="-0.000000" 
                          izx="-0.000034"  izy="0.000000"  izz="0.008612" />
    </inertial>  
  </xacro:unless>       

  <!-- wrist = 4 -->
  <xacro:unless value="${mesh_no-4}">
    <inertial>
        <mass value="0.441232" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.000924"  ixy="0.000000"  ixz="-0.000294" 
                          iyx="0.000000"  iyy="0.001034"  iyz="0.000000" 
                          izx="-0.000294"  izy="0.000000"  izz="0.000312" />
    </inertial>  
  </xacro:unless>       

  <!-- hand 3 finger = 55 -->
  <xacro:unless value="${mesh_no - 55}">
    <inertial>
        <mass value="0.363290" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.001908"  ixy="0.000000"  ixz="0.000000" 
                          iyx="0.000000"  iyy="0.001907"  iyz="0.000000" 
                          izx="0.000000"  izy="0.000001"  izz="0.000209" />
    </inertial> 

  </xacro:unless>        
</xacro:macro>

<!--
<xacro:macro name="finger_proximal">
    <inertial>
        <mass value="0.968862" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.000789"  ixy="0.000008"  ixz="-0.002914" 
                          iyx="0.000008"  iyy="0.069034"  iyz="-0.000001" 
                          izx="-0.002914"  izy="-0.000001"  izz="0.069005" />
    </inertial>       
</xacro:macro>

<xacro:macro name="finger_distal">
    <inertial>
        <mass value="0.968862" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.000789"  ixy="0.000008"  ixz="-0.002914" 
                          iyx="0.000008"  iyy="0.069034"  iyz="-0.000001" 
                          izx="-0.002914"  izy="-0.000001"  izz="0.069005" />
    </inertial>       
</xacro:macro>
-->
</root>


