<?xml version="1.0"?>


<root xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find kinova_description)/urdf/jaco_common.xacro" />

  <property name="link_base" value="mico_link_base" />
  <property name="link_base_cog"  value="0 0 0" />
  <property name="link_base_mass" value="0.100" />
  <property name="link_base_ixx"  value="0.100" />
  <property name="link_base_ixy"  value="0.000" />
  <property name="link_base_ixz"  value="0.000" />
  <property name="link_base_iyy"  value="0.100" />
  <property name="link_base_iyz"  value="0.000" />
  <property name="link_base_izz"  value="0.100" />

  <property name="link_1" value="mico_link_1" />
  <property name="link_1_cog"  value="0.0728 0.0000 -0.0077" />
  <property name="link_1_mass" value="0.825" />
  <property name="link_1_ixx"  value="2.57e-2" />
  <property name="link_1_ixy"  value="-1.26e-6" />
  <property name="link_1_ixz"  value="-9.81e-3" />
  <property name="link_1_iyy"  value="5.72e-2" />
  <property name="link_1_iyz"  value="-4.54e-6" />
  <property name="link_1_izz"  value="6.18e-2" />

  <property name="link_2" value="mico_link_2" />
  <property name="link_2_cog"  value="0.1441 0.0000 0.0261" />
  <property name="link_2_mass" value="1.215" />
  <property name="link_2_ixx"  value="2.58e-2" />
  <property name="link_2_ixy"  value="1.257e-6" />
  <property name="link_2_ixz"  value="-9.82e-3" />
  <property name="link_2_iyy"  value="5.72e-2" />
  <property name="link_2_iyz"  value="4.54e-6" />
  <property name="link_2_izz"  value="6.18e-2" />

  <property name="link_3" value="mico_link_3" />
  <property name="link_3_cog"  value="0.0215 0.0000 0.0396" />
  <property name="link_3_mass" value="0.775" />
  <property name="link_3_ixx"  value="4.42e-2" />
  <property name="link_3_ixy"  value="-6.63e-6" />
  <property name="link_3_ixz"  value="3.87e-3" />
  <property name="link_3_iyy"  value="3.88e-2" />
  <property name="link_3_iyz"  value="-5.58e-6" />
  <property name="link_3_izz"  value="2.28e-2" />

  <property name="link_4" value="mico_link_4" />
  <property name="link_4_cog"  value="0.0083 0.0000 -0.0378" />
  <property name="link_4_mass" value="0.415" />
  <property name="link_4_ixx"  value="4.87e-3" />
  <property name="link_4_ixy"  value="5.56e-4" />
  <property name="link_4_ixz"  value="1.77e-6" />
  <property name="link_4_iyy"  value="5.53e-3" />
  <property name="link_4_iyz"  value="3.27e-6" />
  <property name="link_4_izz"  value="5.45e-3" />

  <property name="link_5" value="mico_link_5" />
  <property name="link_5_cog"  value="0.0083 0.0000 -0.0378" />
  <property name="link_5_mass" value="0.415" />
  <property name="link_5_ixx"  value="4.87e-3" />
  <property name="link_5_ixy"  value="5.56e-4" />
  <property name="link_5_ixz"  value="1.77e-6" />
  <property name="link_5_iyy"  value="5.53e-3" />
  <property name="link_5_iyz"  value="3.27e-6" />
  <property name="link_5_izz"  value="5.45e-3" />

  <property name="link_hand" value="mico_link_hand" />
  <property name="link_hand_cog"  value="0.0034 0.0000 -0.0808" />
  <property name="link_hand_mass" value="0.557" />
  <property name="link_hand_ixx"  value="1.05e-3" />
  <property name="link_hand_ixy"  value="-1.52e-6" />
  <property name="link_hand_ixz"  value="4.87e-7" />
  <property name="link_hand_iyy"  value="1.14e-3" />
  <property name="link_hand_iyz"  value="-1.90e-8" />
  <property name="link_hand_izz"  value="1.51e-4" />

  <property name="link_finger_1" value="mico_link_finger_1" />
  <property name="link_finger_2" value="mico_link_finger_2" />
  <property name="link_finger_3" value="mico_link_finger_3" />

  <property name="api_offset" value="0.028" />
  <property name="api_origin" value="mico_api_origin" />

  <property name="joint_base" value="mico_joint_base" />
  <property name="joint_base_axis_xyz" value="0 0 0" />
  <property name="joint_base_origin_xyz" value="0 0 0" />
  <property name="joint_base_origin_rpy" value="0 0 0" />

  <property name="joint_1" value="mico_joint_1" />
  <property name="joint_1_axis_xyz" value="0 0 -1" />
  <property name="joint_1_origin_xyz" value="0 0 0.1535" />
  <property name="joint_1_origin_rpy" value="${J_PI} 0 ${J_PI}" />
  <property name="joint_1_lower_limit" value="${-2*J_PI}" />
  <property name="joint_1_upper_limit" value="${2*J_PI}" />

  <property name="joint_2" value="mico_joint_2" />
  <property name="joint_2_axis_xyz" value="0 0 1" />
  <property name="joint_2_origin_xyz" value="0 0 -0.1185" />
  <property name="joint_2_origin_rpy" value="-${J_PI/2} ${J_PI} 0" />
  <property name="joint_2_lower_limit" value="${-J_PI}" />
  <property name="joint_2_upper_limit" value="${0}" />

  <property name="joint_3" value="mico_joint_3" />
  <property name="joint_3_axis_xyz" value="0 0 -1" />
  <property name="joint_3_origin_xyz" value="0.29 0 0" />
  <property name="joint_3_origin_rpy" value="${J_PI} 0 ${J_PI/2}" />
  <property name="joint_3_lower_limit" value="${-5*J_PI/4}" />
  <property name="joint_3_upper_limit" value="${1*J_PI/4}" />

  <property name="joint_4" value="mico_joint_4" />
  <property name="joint_4_axis_xyz" value="0 0 -1" />
  <property name="joint_4_origin_xyz" value="0.123 0 -0.00845" />
  <property name="joint_4_origin_rpy" value="${J_PI} ${J_PI/2} 0" />
  <property name="joint_4_lower_limit" value="${-2*J_PI}" />
  <property name="joint_4_upper_limit" value="${2*J_PI}" />

  <property name="joint_5" value="mico_joint_5" />
  <property name="joint_5_axis_xyz" value="0 0 -1" />
  <property name="joint_5_origin_xyz" value="0.03700 0 -0.06408" />
  <property name="joint_5_origin_rpy" value="0 -${J_PI/180*60} 0" />
  <property name="joint_5_lower_limit" value="${-2*J_PI}" />
  <property name="joint_5_upper_limit" value="${2*J_PI}" />

  <property name="joint_6" value="mico_joint_6" />
  <property name="joint_6_axis_xyz" value="0 0 -1" />
  <property name="joint_6_origin_xyz" value="0.03700 0 -0.06408" />
  <property name="joint_6_origin_rpy" value="-${J_PI/180*60} 0 ${J_PI/2}" />
  <property name="joint_6_lower_limit" value="${-2*J_PI}" />
  <property name="joint_6_upper_limit" value="${2*J_PI}" />

  <property name="joint_finger_1" value="mico_joint_finger_1" />
  <property name="joint_finger_1_axis_xyz" value="0 0 1" />
  <property name="joint_finger_1_origin_xyz" value="-0.03978 0 -0.10071" />
  <property name="joint_finger_1_origin_rpy" value="${-J_PI/2} 1.117 ${J_PI}" />
  <property name="joint_finger_1_lower_limit" value="0" />
  <property name="joint_finger_1_upper_limit" value="${J_PI/180*40}" />

  <property name="joint_finger_2" value="mico_joint_finger_2" />
  <property name="joint_finger_2_axis_xyz" value="0 0 1" />
  <property name="joint_finger_2_origin_xyz" value="0.03569 0 -0.10071" />
  <property name="joint_finger_2_origin_rpy" value="${J_PI/2} ${J_PI - 1.117} ${J_PI}" />
  <property name="joint_finger_2_lower_limit" value="0" />
  <property name="joint_finger_2_upper_limit" value="${J_PI/180*40}" />

  <property name="link_end_effector"   value="mico_end_effector" />
  <property name="end_effector_offset" value="0.160" />

  <xacro:macro name="mico_arm" params="parent">

    <xacro:jaco_struct parent="${parent}" basename="mico"/>

    <xacro:jaco_finger_link link_name="${link_finger_1}"/>
    <xacro:jaco_finger_joint joint_name="${joint_finger_1}" type="revolute" parent="${link_hand}" child="${link_finger_1}" joint_axis_xyz="${joint_finger_1_axis_xyz}" joint_origin_xyz="${joint_finger_1_origin_xyz}" joint_origin_rpy="${joint_finger_1_origin_rpy}" lower_limit="${joint_finger_1_lower_limit}" upper_limit="${joint_finger_1_upper_limit}"/>

    <xacro:jaco_finger_link link_name="${link_finger_2}"/>
    <xacro:jaco_finger_joint joint_name="${joint_finger_2}" type="revolute" parent="${link_hand}" child="${link_finger_2}" joint_axis_xyz="${joint_finger_2_axis_xyz}" joint_origin_xyz="${joint_finger_2_origin_xyz}" joint_origin_rpy="${joint_finger_2_origin_rpy}" lower_limit="${joint_finger_2_lower_limit}" upper_limit="${joint_finger_2_upper_limit}"/>

  </xacro:macro>

</root>
