<?xml version="1.0"?>
<robot xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
    xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="workstation_gazebo" params="prefix">

    <gazebo reference="${prefix}base_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}top_camera_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}pedestal_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}mounting_plate_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_horizontal_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_vertical_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_camera_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_gazebo_depth_camera">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}right_horizontal_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}right_vertical_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}right_camera_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}rear_horizontal_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}rear_vertical_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}rear_camera_link">
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>
