<?xml version="1.0"?>
<robot xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
    xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="workstation" params="prefix">

  <xacro:include filename="$(find uml_hri_nerve_pick_and_place)/urdf/workstation_model_gazebo.xacro" />
  <xacro:include filename="$(find uml_hri_nerve_pick_and_place)/urdf/workstation_depth_cameras_gazebo.xacro" />

  <xacro:workstation_gazebo prefix="${prefix}" />
  <xacro:workstation_depth_cameras_gazebo prefix="${prefix}" />

  <!-- TABLE BASE LINK -->
  <link name="${prefix}base_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="1.2 0.9 0.82"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="1.2 0.9 0.82"/>
      </geometry>
    </collision>
  </link>

  <!-- TABLE TO TOP CAMERA JOINT -->
  <joint name="table_to_top_camera_joint" type="fixed">
    <origin xyz="0.0 0.0 1.51" rpy="3.1416 0.0 0.0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}top_camera_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- PEDESTAL LINK -->
  <link name="${prefix}top_camera_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
    </collision>
  </link>

  <!-- TABLE TO PEDESTAL JOINT -->
  <joint name="table_to_pedestal_joint" type="fixed">
    <origin xyz="0.0 -0.9 0" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}pedestal_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- PEDESTAL LINK -->
  <link name="${prefix}pedestal_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.9 0.82"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.9 0.82"/>
      </geometry>
    </collision>
  </link>

  <!-- PEDESTAL TO MOUNTING PLATE JOINT -->
  <joint name="pedestal_to_mounting_plate_joint" type="fixed">
    <origin xyz="0.0 0.225 0.4425" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}pedestal_link" />
    <child link="${prefix}mounting_plate_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- MOUNTING PLATE IS TALLER THAN INTENDED FOR TESTING PURPOSES -->
  <!-- MOUNTING PLATE LINK -->
  <link name="${prefix}mounting_plate_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.3 0.0725"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.3 0.3 0.0725" />  <!-- 0.0125"/> -->
      </geometry>
    </collision>
  </link>

  <!-- TABLE TO LEFT HORIZONTAL ARM JOINT -->
  <joint name="table_to_left_horizontal_arm_joint" type="fixed">
    <origin xyz="-0.85 0.0 0.395" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}left_horizontal_arm_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- LEFT HORIZONTAL ARM LINK -->
  <link name="${prefix}left_horizontal_arm_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.5 0.04 0.04"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.5 0.04 0.04"/>
      </geometry>
    </collision>
  </link>

  <!-- LEFT HORIZONTAL ARM TO LEFT VERTICAL ARM JOINT -->
  <joint name="left_horizontal_arm_to_left_vertical_arm_joint" type="fixed">
    <origin xyz="-0.23 0.0 0.27" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}left_horizontal_arm_link" />
    <child link="${prefix}left_vertical_arm_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- LEFT VERTICAL ARM LINK -->
  <link name="${prefix}left_vertical_arm_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5"/>
      </geometry>
    </collision>
  </link>

  <!-- LEFT VERTICAL ARM TO LEFT CAMERA JOINT -->
  <joint name="left_vertical_arm_to_left_camera_joint" type="fixed">
    <origin xyz="0.0325 0.0 -0.125" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}left_vertical_arm_link" />
    <child link="${prefix}left_camera_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- LEFT CAMERA LINK -->
  <link name="${prefix}left_camera_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
    </collision>
  </link>

  <!-- TABLE TO RIGHT HORIZONTAL ARM JOINT -->
  <joint name="table_to_right_horizontal_arm_joint" type="fixed">
    <origin xyz="0.85 0.0 0.395" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}right_horizontal_arm_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- RIGHT HORIZONTAL ARM LINK -->
  <link name="${prefix}right_horizontal_arm_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.5 0.04 0.04"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.5 0.04 0.04"/>
      </geometry>
    </collision>
  </link>

  <!-- RIGHT HORIZONTAL ARM TO RIGHT VERTICAL ARM JOINT -->
  <joint name="right_horizontal_arm_to_right_vertical_arm_joint" type="fixed">
    <origin xyz="0.23 0.0 0.27" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}right_horizontal_arm_link" />
    <child link="${prefix}right_vertical_arm_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- RIGHT VERTICAL ARM LINK -->
  <link name="${prefix}right_vertical_arm_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5"/>
      </geometry>
    </collision>
  </link>

  <!-- RIGHT VERTICAL ARM TO RIGHT CAMERA JOINT -->
  <joint name="right_vertical_arm_to_right_camera_joint" type="fixed">
    <origin xyz="-0.0325 0.0 -0.125" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}right_vertical_arm_link" />
    <child link="${prefix}right_camera_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- RIGHT CAMERA LINK -->
  <link name="${prefix}right_camera_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
    </collision>
  </link>

  <!-- TABLE TO REAR HORIZONTAL ARM JOINT -->
  <joint name="table_to_rear_horizontal_arm_joint" type="fixed">
    <origin xyz="0.0 0.7 0.395" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}rear_horizontal_arm_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- REAR HORIZONTAL ARM LINK -->
  <link name="${prefix}rear_horizontal_arm_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.5 0.04"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.5 0.04"/>
      </geometry>
    </collision>
  </link>

  <!-- REAR HORIZONTAL ARM TO REAR VERTICAL ARM JOINT -->
  <joint name="rear_horizontal_arm_to_rear_vertical_arm_joint" type="fixed">
    <origin xyz="0.0 0.23 0.27" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}rear_horizontal_arm_link" />
    <child link="${prefix}rear_vertical_arm_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- REAR VERTICAL ARM LINK -->
  <link name="${prefix}rear_vertical_arm_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5"/>
      </geometry>
    </collision>
  </link>

  <!-- REAR VERTICAL ARM TO REAR CAMERA JOINT -->
  <joint name="rear_vertical_arm_to_rear_camera_joint" type="fixed">
    <origin xyz="0.0 -0.0325 -0.125" rpy="0.0 0.0 0.0" />
    <parent link="${prefix}rear_vertical_arm_link" />
    <child link="${prefix}rear_camera_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- REAR CAMERA LINK -->
  <link name="${prefix}rear_camera_link">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
    </collision>
  </link>

  </xacro:macro>
</robot>
