<launch>
	<param name="robot_description"
                command="$(find xacro)/xacro.py '$(find kinova_description)/urdf/standalone_mico.xacro'" />
	<!-- send fake joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE"/>
	</node>
	<!-- Combine joint values -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<!-- Show in Rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinova_description)/launch/micoViz.rviz"/>
	<!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
</launch>
