<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="jaco2_transmission">

    <transmission name="jaco_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="jaco_joint_1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="jaco_motor_1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jaco_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="jaco_joint_2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="jaco_motor_2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jaco_trans_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="jaco_joint_3">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="jaco_motor_3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jaco_trans_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="jaco_joint_4">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="jaco_motor_4">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
 
    <transmission name="jaco_trans_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="jaco_joint_5">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="jaco_motor_5">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="jaco_trans_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="jaco_joint_6">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="jaco_motor_6">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
