<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="jaco2" >

  <!-- common stuff -->
  <xacro:include filename="$(find jaco2)/urdf/gazebo.urdf.xacro" />

  <!-- jaco2 -->
  <xacro:include filename="$(find jaco2)/urdf/jaco2.urdf.xacro" />


  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="root"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>

</robot>
